torch
torchvision
pytorch-lightning
blobfile
openai-clip
optimum
xformers
datasets==2.18
diffusers==0.30.0
hpsv2==1.2
image-reward==1.5
open-clip-torch==2.24
transformers==4.37.2
protobuf>=5.29
fsspec>=2025.3
peft==0.10.0
